.loader {
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  height: 100lvh;
  width: 100lvw;
  background-color: rgb(31, 31, 31);
  animation: loader-dis 4s forwards;
}

.glass {
  position: relative;
  height: 100px;
  width: 70px;
  border: 3px solid white;
  border-top: none;
  border-radius: 0 0 20px 20px;
}

.handle {
  top: 20%;
  left: 110%;
  position: absolute;
  height: 50px;
  width: 30px;
  border: 3px solid white;
  border-left: none;
  border-radius: 0 10px 10px 0;
}

.beer {
  bottom: 5%;
  left: 6%;
  position: absolute;
  animation: fill 1s 0.3s forwards;
  width: 88%;
  background-color: rgb(171, 145, 1);
  border-radius: 0 0 15px 15px;
}

@keyframes fill {
  0% {
    height: 0;
  }
  100% {
    height: 95%;
  }
}

.bubble {
  position: absolute;
  aspect-ratio: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.bubble1 {
  left: -5px;
  bottom: 95%;
  width: 10px;
}
.bubble2 {
  left: 5px;
  bottom: 92%;
  width: 15px;
}
.bubble3 {
  left: 20px;
  bottom: 97%;
  width: 8px;
}
.bubble4 {
  left: 30px;
  bottom: 96%;
  width: 12px;
}
.bubble5 {
  left: 42px;
  bottom: 99%;
  width: 6px;
}
.bubble6 {
  left: 56px;
  bottom: 94%;
  width: 12px;
}
.bubble7 {
  left: 25px;
  bottom: 93%;
  width: 9px;
}
.bubble8 {
  left: 45px;
  bottom: 93%;
  width: 10px;
}
.bubble9 {
  left: 54px;
  bottom: 94%;
  width: 4px;
}

.fizz {
  position: absolute;
  aspect-ratio: 1;

  border-radius: 50%;
  width: 2px;
}

.fizz1 {
  top: 50%;
  left: 15%;
  animation: fizz 1.2s 1.2s forwards;
}
.fizz2 {
  top: 30%;
  left: 32%;
  animation: fizz 1.2s 1.1s forwards;
}
.fizz3 {
  top: 70%;
  left: 40%;
  animation: fizz 1.2s 1.6s forwards;
}
.fizz4 {
  top: 60%;
  left: 65%;
  animation: fizz 1.2s 1.4s forwards;
}
.fizz5 {
  top: 40%;
  left: 70%;
  animation: fizz 1.2s 1.5s forwards;
}
.fizz6 {
  top: 20%;
  left: 80%;
  animation: fizz 1.2s 1.3s forwards;
}

@keyframes fizz {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 1);
    top: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    top: -20px;
  }
}

@keyframes loader-dis {
  80% {
    top: 0;
  }
  100% {
    display: none;
    top: 100%;
  }
}
